<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.luckin.tax.mapper.TaxFormulaMapper">
    
    <resultMap type="TaxFormula" id="TaxFormulaResult">
        <result property="formulaId"    column="formula_id"    />
        <result property="itemId"    column="item_id"    />
        <result property="label"    column="label"    />
        <result property="expression"    column="expression"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>


</mapper>